.home_page {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search_container button {
	margin-top: 20px;
}

.search_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
